html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  background: #4a4e69;
  font-family: "Kite One", sans-serif;
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

h1,
h2,
div,
ol,
p,
form,
fieldset {
  padding: 0;
  margin: 0;
}

ol {
  list-style: none;
}

.wrapper {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width: 480px) {
  .wrapper {
    width: 95%;
  }
}

header {
  margin-top: 20px;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
}

h1 {
  line-height: 1;
  font-size: 5rem;
  color: #22223b;
  text-shadow: 3px 2px 1px #9a8c98;
}

.fa-th {
  color: #9a8c98;
  font-size: 3rem;
  position: absolute;
  top: 0;
  right: 0;
  visibility: hidden;
}

@media (max-width: 768px) {
  header {
    margin-top: 20px;
  }
  h1 {
    font-size: calc((28/10 * 1rem) + (100vw - (320*1px))*((50 - 28)/(768 - 320)));
  }
}

@media (max-width: 480px) {
  header {
    margin-top: 10px;
  }
  .fa-th {
    visibility: initial;
  }
}

main {
  margin: 20px 0;
  position: relative;
}

form {
  margin: 0 auto 30px auto;
  width: 50%;
  min-width: 370px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #22223b;
  color: #9a8c98;
  font-size: 2rem;
  border-radius: 5px 5px;
}

form fieldset {
  margin-right: 15px;
  border: none;
  padding: 10px;
}

form fieldset:last-child {
  margin-right: 0;
}

form fieldset input {
  display: none;
}

.gameContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.goalImageContainer {
  width: 480px;
  border: 4px solid white;
  box-shadow: 4px 4px #22223b;
  border-radius: 10px 10px;
  overflow: hidden;
}

.gameBoard {
  width: 600px;
  height: 600px;
  border: 2px solid black;
  border-radius: 10px 10px;
  overflow: hidden;
  position: relative;
}

.tile {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 0);
  font-size: 0;
  transition: all 0.3s;
}

.emptyTile {
  position: absolute;
  z-index: -1;
  transition: none;
}

.results {
  margin-top: 30px;
  padding: 5px 0;
  font-size: 3.5rem;
  color: #4a4e69;
  background: #22223b;
  text-shadow: 1px 1px #9a8c98;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
  border-radius: 5px 5px;
}

.results h2 {
  font-size: 3.5rem;
  color: #9a8c98;
  text-shadow: 1px 1px #4a4e69;
}

.record {
  padding-left: 20px;
  position: absolute;
  left: 0;
  height: 100%;
  display: flex;
  align-items: center;
  line-height: 1;
}

.record span {
  text-shadow: none;
}

.moves {
  padding-right: 20px;
  position: absolute;
  right: 0;
  height: 100%;
  display: flex;
  align-items: center;
  line-height: 1;
}

.moveCount {
  color: #9a8c98;
  text-shadow: none;
}

@media (max-width: 1500px) {
  .goalImageContainer {
    width: calc((288/10 * 1rem) + (100vw - (941*1px))*((480 - 288)/(1500 - 941)));
  }
  .gameBoard {
    width: calc((360/10 * 1rem) + (100vw - (941*1px))*((600 - 360)/(1500 - 941)));
    height: calc((360/10 * 1rem) + (100vw - (941*1px))*((600 - 360)/(1500 - 941)));
  }
}

@media (max-width: 940px) {
  .gameContainer {
    flex-direction: column;
  }
  .goalImageContainer {
    width: 336px;
    margin-bottom: 40px;
  }
  .gameBoard {
    width: 420px;
    height: 420px;
  }
}

@media (max-width: 768px) {
  form {
    margin-bottom: 20px;
  }
  .goalImageContainer {
    margin-bottom: 20px;
    width: calc((288/10 * 1rem) + (100vw - (481*1px))*((336 - 288)/(768 - 481)));
  }
  .gameBoard {
    width: calc((360/10 * 1rem) + (100vw - (481*1px))*((420 - 360)/(768 - 481)));
    height: calc((360/10 * 1rem) + (100vw - (481*1px))*((420 - 360)/(768 - 481)));
  }
  .results {
    margin-top: 20px;
    height: calc((30/10 * 1rem) + (100vw - (320*1px))*((60 - 30)/(768 - 320)));
    font-size: calc((18/10 * 1rem) + (100vw - (320*1px))*((35 - 18)/(768 - 320)));
  }
  .results h2 {
    font-size: calc((20/10 * 1rem) + (100vw - (320*1px))*((35 - 20)/(768 - 320)));
  }
}

@media (max-width: 480px) {
  main {
    margin: 0;
  }
  form {
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    min-width: 0;
    transition: all 0.3s;
    border-radius: 0;
    font-size: 1.8rem;
  }
  form fieldset {
    padding: 10px 5px;
  }
  .goalImageContainer {
    margin-bottom: 5px;
    width: calc((180/10 * 1rem) + (100vw - (320*1px))*((240 - 180)/(480 - 320)));
  }
  .gameBoard {
    width: 300px;
    height: 300px;
  }
  .results {
    margin-top: 5px;
  }
  .results .record {
    padding-left: 8px;
  }
  .results .moves {
    padding-right: 8px;
  }
}

footer {
  margin-top: 10px;
  padding: 10px 0;
  font-size: 2.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #22223b;
  text-shadow: 1px 1px #9a8c98;
}

@media (max-width: 1500px) {
  footer {
    font-size: calc((16/10 * 1rem) + (100vw - (320*1px))*((22 - 16)/(1500 - 320)));
  }
}

@media (max-width: 480px) {
  footer {
    margin-top: 0;
    padding: 5px 0;
  }
}
