html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

body {
  background: #d87093;
  font-family: "Kite One", sans-serif;
  font-size: 1.6rem;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

h1,
div,
ol,
p,
section {
  padding: 0;
  margin: 0;
}

ol {
  list-style: none;
}

.wrapper {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width: 480px) {
  .wrapper {
    width: 95%;
  }
}

header {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

h1 {
  font-size: 5rem;
  color: white;
  text-shadow: 3px 2px 1px #2f4f4f;
}

@media (max-width: 768px) {
  header {
    margin-top: 20px;
  }
  h1 {
    font-size: calc((34/10 * 1rem) + (100vw - (320*1px))*((50 - 34)/(768 - 320)));
  }
}

@media (max-width: 480px) {
  header {
    margin-top: 15px;
  }
}

main {
  padding: 40px 0;
}

.gameContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.goalImageContainer {
  width: 480px;
  border: 4px solid white;
  box-shadow: 4px 4px #2f4f4f;
  border-radius: 10px 10px;
  overflow: hidden;
}

.gameBoard {
  width: 600px;
  height: 600px;
  border: 2px solid black;
  border-radius: 10px 10px;
  overflow: hidden;
  position: relative;
}

.tile {
  border: 1px solid white;
  position: absolute;
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 3rem;
}

.emptyTile {
  border: 1px solid white;
  position: absolute;
  background: #eec0d0;
}

.results {
  margin-top: 40px;
  text-align: center;
  font-size: 4rem;
}

@media (max-width: 1500px) {
  .goalImageContainer {
    width: calc((288/10 * 1rem) + (100vw - (941*1px))*((480 - 288)/(1500 - 941)));
  }
  .gameBoard {
    width: calc((360/10 * 1rem) + (100vw - (941*1px))*((600 - 360)/(1500 - 941)));
    height: calc((360/10 * 1rem) + (100vw - (941*1px))*((600 - 360)/(1500 - 941)));
  }
}

@media (max-width: 940px) {
  .gameContainer {
    flex-direction: column;
  }
  .goalImageContainer {
    width: 336px;
    margin-bottom: 40px;
  }
  .gameBoard {
    width: 420px;
    height: 420px;
  }
}

@media (max-width: 768px) {
  main {
    padding: 20px 0;
  }
  .goalImageContainer {
    margin-bottom: 20px;
    width: calc((288/10 * 1rem) + (100vw - (481*1px))*((336 - 288)/(768 - 481)));
  }
  .gameBoard {
    width: calc((360/10 * 1rem) + (100vw - (481*1px))*((420 - 360)/(768 - 481)));
    height: calc((360/10 * 1rem) + (100vw - (481*1px))*((420 - 360)/(768 - 481)));
  }
  .results {
    margin-top: 20px;
  }
}

@media (max-width: 480px) {
  main {
    padding: 15px;
  }
  .goalImageContainer {
    margin-bottom: 15px;
    width: calc((240/10 * 1rem) + (100vw - (320*1px))*((288 - 240)/(480 - 320)));
  }
  .gameBoard {
    width: calc((300/10 * 1rem) + (100vw - (320*1px))*((360 - 300)/(480 - 320)));
    height: calc((300/10 * 1rem) + (100vw - (320*1px))*((360 - 300)/(480 - 320)));
  }
  .results {
    margin-top: 15px;
  }
}

footer {
  border: 1px solid black;
  padding: 10px 0;
  font-size: 2.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #2f4f4f;
  color: white;
  text-shadow: 1px 1px #d87093;
}

@media (max-width: 1500px) {
  footer {
    font-size: calc((16/10 * 1rem) + (100vw - (320*1px))*((22 - 16)/(1500 - 320)));
  }
}
