footer {
    border: 1px solid black;
    padding: 10px 0;
    @include variableFontSize(16, 320, 22, 1500);
    display: flex;
    justify-content: center;
    align-items: center;
    background: $secondary;
    color: white;
    text-shadow: 1px 1px $primary;
}

////////////////////////
//footer media queries//
////////////////////////

//footer DESKTOP @ wrapper stop width//
@media (min-width: 1500px) {
    footer {
        font-size: 2.2rem;
    }
}