footer {
    margin-top: 10px;
    padding: 10px 0;
    font-size: 2.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $secondary;
    text-shadow: 1px 1px $accent;
}

////////////////////////
//footer media queries//
////////////////////////

// footer DESKTOP @ wrapper stop width//
@media (max-width: 1500px) {
    footer {
        @include variableFontSize(16, 320, 22, 1500);
    }
}

// footer PHONE //
@media (max-width: 480px) {
    footer {
        margin-top: 0;
<<<<<<< HEAD
        padding: 5px 0;
=======
>>>>>>> gh-pages
    }
}