// global styles
html {
    font-size: 62.5%;
}

body {
    background: $primary;
    font-family: $primaryFont;
    font-size: 1.6rem;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

h1,
h2,
div,
ol,
p,
section {
    padding: 0;
    margin: 0;
}

ol {
    list-style: none;
}

.wrapper {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

//////////////////////////
// global media queries //
//////////////////////////

// global PHONE //
@media (max-width: 480px) {
    .wrapper {
        width: 95%;
    }
}