// header styles

header {
    margin-top: 40px;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

h1 {
    line-height: 1;
    font-size: 5rem;
    color: white;
    text-shadow: 3px 2px 1px $secondary;
}

// header PHONE TO TABLET //
@media (max-width: 768px) {
    header {
        margin-top: 20px;

    }

    h1 {
        @include variableFontSize(28, 320, 50, 768);
    }
}

// header PHONE //
@media (max-width: 480px) {
    header {
        margin-top: 10px;
    }
}