// main styles
main {
    padding: 40px 0;
}
.goalImageContainer {
    width: 432px;
    border: 4px solid white;
    box-shadow: 4px 4px $secondary;
    border-radius: 10px 10px;
    overflow: hidden;
}

.results {
    margin-top: 40px;
    text-align: center;
    font-size: 4rem;
}