// main styles
main {
    // padding: 40px 0;
    margin: 20px 0;
    position: relative;
}

form {
    margin: 0 auto 30px auto;
    width: 50%;
    min-width: 370px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $secondary;
    color: $accent;
    font-size: 2rem;
    border-radius: 5px 5px;

    fieldset {
        margin-right: 15px;
        border: none;
        padding: 10px;

        &:last-child {
            margin-right: 0;
        }

        input {
            display:none;
        }
    }
}
.gameContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.goalImageContainer {
    width: 480px;
    border: 4px solid white;
    box-shadow: 4px 4px $secondary;
    border-radius: 10px 10px;
    overflow: hidden;
}

.gameBoard {
    width: 600px;
    height: 600px;
    border: 2px solid black;
    border-radius: 10px 10px;
    overflow: hidden;
    position: relative;
}

.tile {
    border: 1px solid white;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255,255,255, 0); 
    font-size: 0;
    transition: all 0.3s;
}

.emptyTile {
    border: 1px solid white;
    position: absolute;
    z-index: -1;
    transition: none;
    // background: lighten($primary, 20);
}

.results {
    margin-top: 30px;
    padding: 5px 0;
    font-size: 3.5rem;
    color: $primary;
    background: $secondary;
    text-shadow: 1px 1px $accent;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
    border-radius: 5px 5px;
}

.results h2 {
    font-size: 3.5rem;
    color: $accent;
    text-shadow: 1px 1px $primary;
}

.record {
    padding-left: 20px;
    position: absolute;
    left:0;
    height: 100%;
    display: flex;
    align-items: center;
    line-height: 1;

    span {
        text-shadow: none;
    }
}

.moves {
    padding-right: 20px;
    position: absolute;
    right:0;
    height: 100%;
    display: flex;
    align-items: center;
    line-height: 1;
}

.moveCount {
    color: #9a8c98;
    text-shadow: none;
}

//////////////////////
//main media queries//
//////////////////////

// main DESKTOP @ wrapper stop width //
@media (max-width: 1500px) {
    .goalImageContainer {
        @include variableWidth(288, 941, 480, 1500);
    }

    .gameBoard {
        @include variableWidth(360, 941, 600, 1500);
        @include variableHeight(360, 941, 600, 1500);
    }
}

// main TABLET TO SMALL DESKTOP //
@media (max-width: 940px) {
    .gameContainer {
        flex-direction: column;
    }

    .goalImageContainer {
        width: 336px;
        margin-bottom: 40px;
    }

    .gameBoard {
        width: 420px;
        height: 420px;
    }
}

// main PHONE TO TABLET //
@media (max-width: 768px) {
    main {
        // padding: 20px 0;
    }

    form {
        margin-bottom: 20px;
    }
    
    .goalImageContainer {
        margin-bottom: 20px;
        @include variableWidth(288, 481, 336, 768);
    }

    .gameBoard {
        @include variableWidth(360, 481, 420, 768);
        @include variableHeight(360, 481, 420, 768);
    }

    .results {
        margin-top: 20px;
        @include variableHeight(30, 320, 60, 768);
        @include variableFontSize(18, 320, 35, 768);

        h2 {
            @include variableFontSize(20, 320, 35, 768);
        }
    }

}

// main PHONE //
@media (max-width: 480px) {
    main {
        // padding: 15px;
        margin: 0;
    }

    form {
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        min-width: 0;
        transition: all 0.3s;
        border-radius: 0;
        font-size: 1.8rem;
        fieldset {
            padding: 10px 5px;
            
        }
    }

    .goalImageContainer {
        margin-bottom: 5px;
        @include variableWidth(180, 320, 240, 480);
    }

    .gameBoard {
        width: 300px;
        height: 300px;
    }

    .results {
        margin-top: 5px;
        padding: 8px 0;

        .record {
            padding-left: 8px;
        }

        .moves {
            padding-right: 8px;
        }
    }
}


